{#include main.html}
    {#title}{m:title.contact}{/title}

    <h1>{m:title.contact}</h1>

    {#form uri:ContactUsController.add() method="POST"}
        <legend>Contact us</legend>
        <fieldset>
            {#formElement name="name" label="Name"}
                {#input name="name" type="text"/}
            {/formElement}

            {#formElement name="email" label="E-Mail"}
                {#input name="email" type="email"/}
            {/formElement}

            {#formElement name="phone" label="Phone"}
                {#input name="phone" type="text"/}
            {/formElement}

            {#formElement name="subject" label="Subject"}
                {#input name="subject" type="text"/}
            {/formElement}

            {#formElement name="content" label="Content"}
                {#textarea name="content"/}
            {/formElement}

            <input type="submit" value="Send"/>
        </fieldset>
    {/form}
{/include}