@font-face { font-family: Quattrocento; font-weight: normal; src: url('../static/fonts/Quattrocento-Regular.ttf'); }
@font-face { font-family: Quattrocento; font-weight: bold; src: url('../static/fonts/Quattrocento-Bold.ttf'); }
@font-face { font-family: Syne; font-variation-settings: "wght" 400; src: url('../static/fonts/Syne-VariableFont_wght.ttf'); }
