$bg-color-primary: #FAFBFC;
$bg-color-secondary: #25262A;

$header-height: 4em;
$header-side-padding: 10em;

$main-side-padding: 4em;

$footer-height: 6em;
$footer-side-padding: $header-side-padding;
$footer-bg: #333438;

$text-light: #717074;
$text-dark: #949499;

$nav-fg-light: #777679;
$nav-fg-dark: #777679;

$button-bg-dark: #FFFFFF;
$button-bg-dark-secondary: transparent;
$button-bg-dark-hover: #CCCCCC;
$button-bg-dark-secondary-hover: rgba(204, 204, 204, 0.2);
$button-fg-dark: #797577;
$button-fg-dark-secondary: #B8B8B8;
$button-bg-light: #010101;
$button-bg-light-secondary: transparent;
$button-bg-light-hover: #333333;
$button-bg-light-secondary-hover: rgba(51, 51, 51, 0.2);
$button-fg-light: #D6D5D4;
$button-fg-light-secondary: #7D7B7D;
$button-border-light: #000000;
$button-border-light-secondary: #7D7B7D;
$button-border-dark: #FFFFFF;
$button-border-dark-secondary: #B8B8B8;

$intro-fg-dark: #C9C8CB;
$intro-fg-light: #666467;

$heading-fg-dark: #FFFFFF;
$heading-fg-light: #151416;

$description-fg-dark: #ADADAE;
$description-fg-light: #717074;

$subsection-fg-dark: #4C5B89;
$subsection-fg-light: #4C5B89;